# Pipeline data
pandas>=2.0.0
geopandas>=0.14.0
pyarrow>=14.0.0
py7zr>=0.20.0
shapely>=2.0.0
numpy>=1.26.0

# API
fastapi>=0.110.0
uvicorn>=0.29.0

# Nouvelles dépendances SVP :
requests>=2.31.0        # téléchargement API Paris Open Data + Overpass

# Optionnel — uniquement pour le notebook de diagnostic :
matplotlib>=3.8.0
jupyter>=1.0.0